.roles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.roles-details {
    text-align: center;
    border: 2px solid #f44336;
    border-radius: 8px;
    padding: 10px;
    background-color: #1f2a35;
    color: #ece8e1;
}

.roles-icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.agents-container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.agents-rotation-buttons {
    background-color: #1f2a35;
    border: 2px solid #f44336;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    color: #ece8e1;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px;
}

.agents-rotation-buttons:hover {
    border: 2px solid #921b13;
    transform: scale(1.1);
}

.agents-buttons-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.agents-selections {
    background-color: #1f2a35;
    gap: 15px;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.agents-selections:hover {
    border: 2px solid #921b13;
}

.agents-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.agents-details-container {
    text-align: center;
    background-color: #386ea3;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #f44336;
}

.agents-image {
    width: 200px;
    border-radius: 8px;
}

.agents-abilities {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.agents-abilities-items {
    text-align: center;
    width: 50px;
}

.agents-abilities-icon {
    width: 50px;
    height: 50px;
}